httpx==0.27.0
psycopg2-binary
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-dotenv==1.0.1
openai>=1.35.0
anthropic>=0.40.0
tabulate==0.9.0
mistral-common[sentencepiece]
sentence-transformers
qdrant-client
json-repair>=0.7.0
